
/*
==============================================
 Andersen Lab gene model prediction pipeline
==============================================
*/

import java.time.*
Date now = new Date()

outputDir="annotation_${now.format("yyyyMMdd")}"
trace.enabled = true
conda.enabled = true

process {
    cache = 'lenient'
}

manifest {
    homePage = "http://www.andersenlab.org"
    description = "HDR calling"
    mainScript = "main.nf"
    nextflowVersion = '>=24.10.0'
    version = "1.0"
}

params {
    tracedir = "pipeline_info"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    help = false
    debug = false
}

profiles {
    rockfish { includeConfig 'conf/rockfish.config' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

trace {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_trace.txt"
}

dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}
