params {
    tmpdir = "/scratch4/eande106/tmp"
    species = null
    output = "results_${new Date().format('MM-dd-yy')}"
    vcf       = null
    refgen = null
    bam       = null
    str       = null
    pbt       = null
    vct       = null
    samplesheet = null
    gtcheck = null
}

executor {
    queueSize=50
    submitRateLimit=10
}

singularity {
    cacheDir    = "/vast/eande106/singularity"
    enabled     = true
    autoMounts  = true
    pullTimeout = '20 min'
    ociAutoPull = true
}

process {   
    executor = "slurm"
    clusterOptions = "-A eande106 -e errlog.txt -N 1"

    withLabel: 'process_low' {
        cpus = 2
        queue = "parallel"
	maxRetries = 2
    }

    withLabel: 'process_med' {
        cpus = 4
        queue = "parallel"
        maxRetries = 2
    }
    
    withLabel: 'process_hi' {
        cpus = 24
        queue = "parallel"
        maxRetries = 2
    }
}
